.illustration {
   color: green;
}

.reveal .emphasized {
   color: red;
   font-size: 2.0em;
}

.reveal big {
    font-size: 2.0em;
}

.reveal section del {
  color: blue;
}

.exclaim .reveal .state-background {
  background: black;
} 

.exclaim .reveal h1,
.exclaim .reveal h2,
.exclaim .reveal p {
  color: white;
}